{% extends 'base.html' %}

{% block title %}
Заказы пользователя {{ client_name }}
{% endblock %}

{% block content %}
<h1>Заказы пользователя</small> {{ client_name }}</h1>

{% if orders %}

{% for ord in orders %}
{% ifchanged ord.order.id %}
{% if not forloop.first %}
</table>

{% endif %}


<h2>

    Заказ {{ ord.order.id }} от {{ ord.order.order_date }} на сумму&nbsp;<strong>{{ ord.order.cost }}

</h2>


        <table>
            <thead>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>

            </thead>
            <tr>
                <td>{{ ord.name }}</td>
                <td>{{ ord.count }}</td>
                <td>{{ ord.price }}</td>

            </tr>
            {% else %}
            <tr>
             <td>{{ ord.name }}</td>
                <td>{{ ord.count }}</td>
                <td>{{ ord.price }}</td>>
            </tr>
            {% endifchanged %}
            {% endfor %}
        </table>




{% endblock %}